$primaryFont: lato, sans-serif;
$secondaryFont: montserrat, sans-serif;

$primaryFontSize: 20px;
$secondaryFontSize: 18px;
$headerTwoFontSize: 34px;

$splashPageFontSize: 30px;
$splashPageFontSizeSub: 68px;

$primaryReducedFont: $primaryFontSize/1.7;
$secondaryReducedFont: $secondaryFontSize/1.2;

$headerTwoFontSizeReduced: $headerTwoFontSize/1.1;

$accDivideColor: $midLightGrey;
$accHeadTitlePadding: 35px;

$light: 300;
$regular: 400;
$bold: 700;
